{% extends "base.html" %}
{% load humanize %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Deposit (#{{ detailed_deposit.pk }})
  </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="info-box">
    {% if detailed_deposit.status == 'deposited' %}
      <span class="info-box-icon bg-blue"><i class="fa fa-inbox"></i></span>
    {% elif detailed_deposit.status == 'rejected' %} 
      <span class="info-box-icon bg-red"><i class="fa fa-thumbs-o-down"></i></span>
    {% else %}
      <span class="info-box-icon bg-green"><i class="fa fa-thumbs-o-up"></i></span>
    {% endif %}

      <div class="info-box-content">
          <span class="info-box-number">
            {{ detailed_deposit.package.file.name }}
            <a href="{{ detailed_deposit.package.file.url }}"><i class="fa fa-cloud-download"></i>Download</a>
          </span>
          <div><b>MD5 Sum:</b> {{ detailed_deposit.package.md5_sum }}</div>
          <div><b>Depositado em:</b> {{ detailed_deposit.created }}</div>            
      </div>
      <!-- /.info-box-content -->
    </div>
  </div>
</section>
{% endblock content %}