{% extends "base.html" %}
{% load humanize %}
{% load status_colors %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Deposit (#{{ detailed_deposit.pk }})
  </h1>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12 col-sm-18 col-xs-36">
      <div class="info-box">
        <span class="info-box-icon bg-{{ detailed_deposit.status|status_color }}">
          <i class="fa fa-inbox"></i>
        </span>
        <div class="info-box-content">
            <span class="info-box-number">
              {{ detailed_deposit.package.file.name }}
              <a href="{{ detailed_deposit.package.file.url }}"><i class="fa fa-cloud-download"></i>Download</a>
            </span>
            <div><b>MD5 Sum:</b> {{ detailed_deposit.package.md5_sum }}</div>
            <div><b>Depositado em:</b> {{ detailed_deposit.created }} <b>por</b> {{ detailed_deposit.depositor }}</div>
        </div>
        <!-- /.info-box-content -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-8 col-xs-16">
      <div class="info-box bg-{{ detailed_deposit.package.virus_scan_status|status_color }}">
        <span class="info-box-icon"><i class="fa fa-bug"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Anti-virus</span>
          <span class="info-box-number">{{ detailed_deposit.package.virus_scan_status }}</span>
          <div class="progress">
            <div class="progress-bar" style="width: 100%"></div>
          </div>
          <span class="progress-description">
            Verificado em: {{ detailed_deposit.package.virus_scan_status_changed }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <rh>
</section>
{% endblock content %}