{% extends "base.html" %}
{% load humanize %}
{% load frontdesk %}

{% block css %}
  <link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap.css">
{% endblock css%}
  
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Depósito (#{{ detailed_deposit.pk }})
  </h1>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12 col-sm-18 col-xs-36">
      <div class="info-box">
        <span class="info-box-icon bg-{{ detailed_deposit.status|status_color }}">
          <i class="fa fa-inbox"></i>
        </span>
        <div class="info-box-content">
            <span class="info-box-number">
              {{ detailed_deposit.package.file.name }} (
              {% if detailed_deposit.package.virus_scan_status != 'infected' %}
                <a href="{{ detailed_deposit.package.file.url }}"><i class="fa fa-cloud-download"></i>Download</a>
              {% else %}
                <i class="fa fa-cloud-download"></i> Download indisponível, pacote com virus.
              {% endif %})
            </span>
            <div><b>MD5 Sum:</b> {{ detailed_deposit.package.md5_sum }}</div>
            <div><b>Depositado em:</b> {{ detailed_deposit.created }} <b>por</b> {{ detailed_deposit.depositor }}</div>
        </div>
        <!-- /.info-box-content -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-24 col-xs-36">
      <div class="box box-default collapsed-box">
        <div class="box-header with-border">
          <h3 class="box-title">
            <i class="fa fa-files-o"></i> Lista de arquivos do pacote
          </h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body" style="display: none;">
          <table id="package_files" class="table table-hover dataTable">
            <thead>
              <tr>
                <th>nome do arquivo</th>
                <th>tipo do arquivo</th>
                <th>estado do xml</th>
              </tr>
            </thead>
            <tbody>
              {% for member in detailed_deposit.package.members.all %}
                <tr>
                  <td>{{ member.name }}</td>
                  <td>{{ member.guess_type }}</td>
                  <td>
                    {% if member.is_xml %}
                      <span class="label bg-{{ member.sps_validation_status|status_sps|status_color }}">
                        {{ member.sps_validation_status|status_sps }}
                      </span>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-8 col-xs-16">
      <div class="small-box bg-{{ detailed_deposit.package.virus_scan_status|status_color }}">
        <div class="inner">
          <h3>Anti-virus</h3>
          <h4>{{ detailed_deposit.package.virus_scan_status }}</h4>
          <h5>
            Verificado em: {{ detailed_deposit.package.virus_scan_status_changed }}
          </h5>
        </div>
        <div class="icon"><i class="fa fa-bug"></i></div>
        <a class="small-box-footer" href="{% url 'package_report_virus' detailed_deposit.pk %}">
          info
          <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-8 col-xs-16">
      <div class="small-box bg-blue">
        <div class="inner">
          <h3>Integridade</h3>
          <h4>erros encontrados</h4>
          <h5>
            Verificado em: Sept. 28, 2016, 5:07 p.m. 
          </h5>
        </div>
        <div class="icon"><i class="fa fa-circle-thin"></i></div>
        <a class="small-box-footer" href="{% url 'package_report_integrity' detailed_deposit.pk %}">
          info
          <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-8 col-xs-16">
      <div class="small-box bg-{{ detailed_deposit.package.xmls|widget_scielops_colors_weight }}">
        <div class="inner">
          <h3>SciELO PS</h3>
          <h4><b>xml's valídos ({{ detailed_deposit.package.xmls.valid|length }}), inválidos ({{ detailed_deposit.package.xmls.invalid|length }}) e não definidos ({{ detailed_deposit.package.xmls.undefined|length }})</b></h4>
          <h5>
            Verificado em: Sept. 28, 2016, 5:07 p.m. 
          </h5>
        </div>
        <div class="icon"><i class="fa fa-code"></i></div>
        <a class="small-box-footer" href="{% url 'package_report_scielops' detailed_deposit.pk %}">
          info
          <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-24 col-xs-36">
      {% block reports_content %} {% endblock reports_content %}
    </div>
  </div>
</section>
{% endblock content %}

{% block javascript %}
  <script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
  <script>

    $(document).ready(function() {
        $('#package_files').DataTable();
    } );
  </script>
{% endblock javascript %}
